.container{
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
}
.top{
    width: 100%;
    background-color: #202020;
    height: 50px;  
}

.category{
    display: flex;
    flex-direction: column;
    padding:20px;
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: white;
        margin-bottom: 0;
    }
    &__photo__label{
        margin-top: 10px;
        height: 275px;
        width: 275px;
        margin-left: 35%;
        background-color: #202020;
        border-radius: 10px;
        position: relative;
        &>img{
            height: 275px;
            border-radius: 10px;
            width: 275px;

        }

    }
    &__photo{
        margin-top: 20px;
        background: #262626;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 100%;
        background-color: #202020;
        position: absolute;
        bottom: 94%;
        left: 94%;
        cursor: pointer;
        &::before{
            content: "+";
            color: white;
            font-size: 30px;
            text-align: center;
            background-color: #202020;
            height: 30px;
            width: 30px;
            position: absolute;
            border-radius: 100%;
        }
    }
    &__form{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__label{
        
            display: flex;
            flex-direction: column;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color:  #999999;
        }
        &__input{
            margin-top: 8px;
            background: none;
            border: 2px solid #999999;
            border-radius: 8px;
            width: 340px;
            padding: 16px;
            color: white;
            &:focus{
                outline: none;
                color: white;
                border: 2px solid #FFFFFF;
            }
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #999999;
            }
        }

    }
    &__btn{
        margin-top: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: white;
        width: 250px;
        margin-left: auto;
        border: none;
        background: #202020;
        border-radius: 5px;
        padding: 21px;
        &:hover{
            cursor: pointer;
        }
        &:active{
            opacity: 0.7;

        }        
    }
    &__line{
        margin-top: 46px;
        width: 100%;
        background: #999999;
        height: 1px;
    }
    &__view{
        
        margin-top: 46px;
        display: grid;
        grid-template:auto auto /auto auto auto auto;
        gap: 15px;
        &__btn{
            background: #202020;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            width: 27px;
            height: 27px; 
            border-radius: 100%;
            text-align: center;  
            border: none; 
            position: absolute;   
            bottom: 50%;
            left: 94%;
            cursor: pointer;     
            z-index: 9999;

            &:active{
                opacity: 0.7;
            }
        }
        &__box{
            position: relative;
        }
        &__input{
            margin-top: 10px;
            position: relative;
            border: none;
            border-radius: 8px;
            width: 250px;
            padding: 16px;
            color: white;
            background: #202020;
            
            &:focus{
                outline: none;
                color: white;
            }
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #999999;
            }
        }

    }

}